node_modules
.vscode
.idea
data
botData
.env
dist
.husky
rec.md
lib/**/*.d.ts
lib/**/*.js
!lib/**/protobuf.min.d.ts
!lib/**/protobuf.min.js
../*
main.js
lib
es
typings
dist
/index.ts

src/plugins/queryPhone.ts
